/* From light to dark colour */

$equal-sign-button: #f0a500;
$equal-sign-border: #f5bb3e;
$equal-sign-hover: #f5b937;

$theme-color-2: #334756;
$theme-color-3: #082032;

$calc-screen: #252525;
$calc-screen-font: #24ff2d;

$operator-button: #a6a6a6;
$font-button-color: #fff;

$all-clear-button: #f0595f;
$all-clear-border: #b0353a;
$all-clear-hover: #f17377;
